<div class="hot-deal-card">
	<div class="hot-deal-card__badge">HOT</div>
	<div class="hot-deal-card__image-wrapper">
		{{ fields.field_product_image.content }}
	</div>
	<div class="hot-deal-card__content">
		<h3 class="hot-deal-card__title">{{ fields.title.content }}</h3>
		<div class="hot-deal-card__price-row">
			<span class="hot-deal-card__price">{{ fields.price__number.content }}</span>
		</div>
	</div>
</div>
