/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#navbar-top {
  background-color: rgb(172, 4, 1);
  display: none;
}

#navbar-main {
  background-color: rgb(172, 4, 1);
  padding: 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a,
.link {
  color: rgb(172, 4, 1);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
.nav-item .dropdown-item a.active {
  color: white;
}
.nav-link {
  color: rgb(231, 231, 231);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0256b1;
}

.site-footer {
  background: #292929;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}


#navbar-main img {
  width: 75px;
}

.navbar-brand {
  padding: 10px 0;
  position: absolute;
  left: 70px;
}

@media (max-width: 1024px) {
  .navbar-brand {
    left: 50px;
  }
}

.navbar-nav .nav-item {
  margin: 0 5px;
}
